body {
  margin: 0;
  font-family: sans-serif;
  background: #000;
  color: #fff;
}

.container {
  display: flex;
  align-items: center;        /* Centra verticalmente reloj y carrusel */
  gap: 20px;
  padding: 10px 10px;
  background: #000;
  border-bottom: 2px solid #000;
}

.side-image {
  width: 180px;
  height: 60px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 5px;
}

.side-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.clock-widget {
  width: 180px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background: #000;
  border-radius: 8px;
  padding: 5px;
}
